body {  background-color: DarkCyan;}

h1 {  color: black;   background-color: lime}

p { color: red;}

table {   background-color: lime; align="right"}

#p1 { background-color: white}

#p2 { background-color: LawnGreen}

#p3 {  background-color: grey}

div {text-align: center;}